@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root {
    --primary-color: hsla(202, 100%, 18%, 1);
    --primary-color-hover: hsla(202, 100%, 15%, 1);
    --secondary-color: hsla(192, 100%, 44%, 1);
    --neutral-color: hsl(0, 0%, 90%);
    --success-color: hsla(124, 63%, 48%, 1);
    --warning-color: hsla(45, 83%, 50%, 1);
    --danger-color: hsla(0, 61%, 50%, 1);
    --disabled-color: hsla(0, 0%, 55%, 1);

    --modulo-general-color: hsla(200, 80%, 44%, 1);
    --modulo-tci-color: hsla(137, 85%, 43%, 1);
    --asignaturas-optativas-color: hsla(238, 73%, 46%, 1);
    --modulo-optativo-color: hsla(51, 100%, 55%, 1);
    --modulo-disciplina-color: hsla(0, 0%, 52%, 1);
    --pp-ss-color: hsla(35, 92%, 54%, 1);

    /*Text, BG and Borders*/
    --text-color: hsla(0, 0%, 13%, 1);
    --light-text-color: hsla(0, 0%, 90%, 1);
    --line-borders: hsla(0, 0%, 0%, 0.2);
    --bg-color: hsl(0, 0, 98%);

    /*Background colors*/
    --primary-color-bg: hsla(202, 100%, 28%, 0.5);
    --secondary-color-bg: hsla(192, 100%, 44%, 0.5);
    --success-color-bg: hsla(124, 76%, 60%, 0.5);
    --warning-color-bg: hsla(45, 83%, 50%, 0.5);
    --danger-color-bg: hsla(0, 61%, 50%, 0.5);
    --disabled-color-bg: hsla(0, 0%, 55%, 0.5);

    --modulo-general-color-bg: hsla(200, 80%, 44%, 0.5);
    --modulo-tci-color-bg: hsla(137, 85%, 43%, 0.5);
    --asignaturas-optativas-color-bg: hsla(238, 73%, 46%, 0.5);
    --modulo-optativo-color-bg: hsla(51, 100%, 55%, 0.5);
    --modulo-disciplina-color-bg: hsla(0, 0%, 52%, 0.5);
    --pp-ss-color-bg: hsla(35, 92%, 54%, 0.5);
    /**/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', helvetica;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


.header {
    background-color: var(--tetx-light-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 0px var(--line-borders);
}

.logo {
    margin: .2rem 2.5rem;
}

.logo a img {
    width: 128px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    list-style: none;
}

ul li {
    margin: 0.5rem;
    position: relative;
    border-radius: 15px;
}

ul li a {
    display: inline-block;
    color: var(--text-color);
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}

ul li:hover,
li:focus-within {
    background-color: var(--neutral-color);
    cursor: pointer;
}

ul li ul li:focus-within a {
    outline: none;
}

ul li ul {
    background: rgb(255,255,255);
    visibility: hidden;
    opacity: 0;
    min-width: 7rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: .5rem;
    left: 0;
    display: none;
    list-style: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 10;
}

ul li ul li {
    clear: both;
    width: 90%;
    list-style: none;
}

.btn :hover {

    color: var(--light-text-color);
}

h1 {
    text-align: center;
    margin: 3rem auto;
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
    font-size: 1.3rem;
}


h3 {
    color: var(--text-color);
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem;
}

span {
    margin: .5rem;
}

form {
    margin: auto;
    width: 50%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--line-borders);
    border-radius: 10px;
    padding: 5rem;
}

input {
    min-width: 200px;
    width: 80%;
    margin: auto;
    height: 30px;
    border: none;
    border-bottom: .5px solid var(--line-borders);
    background-color: transparent;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border-bottom: 1.5px solid var(--line-borders);
}

.semestre {
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.separador{
    width: 90%;
    height: 2px;
    background-color:var(--line-borders);
    margin: 2rem auto;
}

.modulo-general {
    border: solid var(--modulo-general-color-bg) 0.2px;
    border-radius: 10px;
}

.modulo-tci {
    border: solid var(--modulo-tci-color-bg) 0.2px;
    border-radius: 10px;
}

.asignatura-optativa {
    border: solid var(--asignaturas-optativas-color-bg) 0.2px;
    border-radius: 10px;
}

.modulo-optativo {
    border: solid var(--modulo-optativo-color-bg) 0.2px;
    border-radius: 10px;
}

.modulo-disciplina {
    border: solid var(--modulo-disciplina-color-bg) 0.2px;
    border-radius: 10px;
}

.pp-ss {
    border: solid var(--pp-ss-color-bg) 0.2px;
    border-radius: 10px;
}

.modulo {
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.modulo-header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 500;
}

.materia {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
}

.materia:hover{
    background-color: var(--neutral-color);
}

.bx-check {
    color: var(--light-text-color);
    background-color: var(--success-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .1rem;
}

.bx-error {
    color: var(--light-text-color);
    background-color: var(--warning-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .1rem;
}

.bx-x {
    color: var(--light-text-color);
    background-color: var(--danger-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .1rem;
}

.save-btn {
    background-color: var(--bg-color);
    width: 150px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin-left: auto;
    margin-right: 5rem;
}

.save-btn:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.save-btn a {
    color: var(--secondary-color);
}

.btn:hover {
    cursor: pointer;
}

.status-icon {
    color: var(--light-text-color);
    display: flex;
    align-items: center;
}

.title-txt {
    font-size: 1.4rem;
    font-weight: bold;
    margin: auto;
}

.description-txt {
    font-size: 1.2rem;
}

.edit-btn {
    border: .5px solid var(--secondary-color);
    color: var(--secondary-color);
}

.delete-btn {
    border: .5px solid var(--danger-color);
    color: var(--danger-color);
}

.edit-btn:hover {
    background-color: var(--warning-color);
    color: var(--bg-color);
}

.delete-btn:hover {
    background-color: var(--danger-color);
    color: var(--bg-color);
}