@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root {
    --primary-color: hsla(202, 100%, 18%, 1);
    --primary-color-hover: hsla(202, 100%, 15%, 1);
    --secondary-color: hsla(192, 100%, 44%, 1);
    --neutral-color: hsl(0, 0%, 90%);
    --success-color: hsla(124, 63%, 48%, 1);
    --warning-color: hsla(45, 83%, 50%, 1);
    --danger-color: hsla(0, 61%, 50%, 1);
    --disabled-color: hsla(0, 0%, 55%, 1);

    --modulo-general-color: hsla(200, 80%, 44%, 1);
    --modulo-tci-color: hsla(137, 85%, 43%, 1);
    --modulo-asignaturas-optativas-color: hsla(238, 73%, 46%, 1);
    --modulo-optativo-color: hsla(51, 100%, 55%, 1);
    --modulo-disciplina-color: hsla(0, 0%, 52%, 1);
    --modulo-pp-ss-color: hsla(35, 92%, 54%, 1);

    /*Text, BG and Borders*/
    --text-color: hsla(0, 0%, 13%, 1);
    --light-text-color: hsla(0, 0%, 90%, 1);
    --line-borders: hsla(0, 0%, 0%, 0.2);
    --bg-color: hsl(0, 0, 98%);

    /*Background colors*/
    --primary-color-bg: hsla(202, 100%, 28%, 0.5);
    --secondary-color-bg: hsla(192, 100%, 44%, 0.5);
    --success-color-bg: hsla(124, 76%, 60%, 0.5);
    --warning-color-bg: hsla(45, 83%, 50%, 0.5);
    --danger-color-bg: hsla(0, 61%, 50%, 0.5);
    --disabled-color-bg: hsla(0, 0%, 55%, 0.5);


    --modulo-general-color-bg: hsla(200, 80%, 44%, 0.1);
    --modulo-tci-color-bg: hsla(137, 85%, 43%, 0.1);
    --modulo-asignaturas-optativas-color-bg: hsla(238, 73%, 46%, 0.1);
    --modulo-optativo-color-bg: hsla(51, 100%, 55%, 0.1);
    --modulo-disciplina-color-bg: hsla(0, 0%, 52%, 0.1);
    --modulo-pp-ss-color-bg: hsla(35, 92%, 54%, 0.1);
    /**/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', helvetica;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


.header {
    background-color: var(--tetx-light-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 10px 0px var(--line-borders);
}

.logo {
    margin: .2rem 2.5rem;
}

.logo a img {
    width: 128px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*alineacion horizontal*/
    align-items: center;
    /*alineacion vertical*/
    list-style: none;
}

ul li {
    margin: 0.5rem;
    position: relative;
    border-radius: 15px;
}

ul li a {
    display: inline-block;
    color: var(--text-color);
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-decoration: none;
    font-size: .85rem;
}

ul li a i{
    color: var(--disabled-color);
    font-size: 1.5rem;
   
}

ul li:hover,
li:focus-within {
    background-color: var(--neutral-color);
    cursor: pointer;
}

ul li ul li:focus-within a {
    outline: none;
}

ul li ul {
    background: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    min-width: 7rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: .5rem;
    left: 0;
    display: none;
    list-style: none;
}

ul li:hover>ul,
ul li:focus-within>ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 10;
}

ul li ul li {
    clear: both;
    width: 90%;
    list-style: none;
}

.btn :hover {
    color: var(--light-text-color);
}

h1 {
    text-align: center;
    margin: 3rem auto;
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
    font-size: 1.3rem;
}


h3 {
    color: var(--text-color);
    font-weight: bold;
    margin: 1rem 0;
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem;
}

span {
    margin: .5rem;
}

form {
    margin: auto;
    width: 90%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--line-borders);
    border-radius: 10px;
    padding: 5rem;
}

input {
    min-width: 200px;
    width: 80%;
    margin: auto;
    height: 30px;
    border: none;
    border-bottom: .5px solid var(--line-borders);
    background-color: transparent;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border-bottom: 1.5px solid var(--line-borders);
}

.simbologia{
    width: 50%;
    border-radius: 1rem;
    font-size: .9rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.modulos{
    width: 100%;
    border-radius: 1rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.modulos div{
    margin: .2rem;
}
.modulos p {
    font-size: .9rem;
}

.simbologia span{
    background-color: var(--neutral-color);
    border-radius: 1rem;
    padding: .3rem;
    font-size: .8rem;
}

.sede {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.carrera {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.semestre {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.separador {
    width: 90%;
    height: 2px;
    background-color: var(--line-borders);
    margin: 2rrem auto;
}

.modulo-general {
    border: solid var(--modulo-general-color) 1px;
    background-color: var(--modulo-general-color-bg);
    border-radius: 10px;
}

.modulo-general p {
    color: var(--modulo-general-color);
}

.modulo-tci {
    border: solid var(--modulo-tci-color) 1px;
    background-color: var(--modulo-tci-color-bg);
    border-radius: 10px;
}

.modulo-tci p {
    color: var(--modulo-tci-color);
}

.modulo-asignatura-optativa {
    border: solid var(--modulo-asignaturas-optativas-color) 1px;
    background-color: var(--modulo-asignaturas-optativas-color-bg);
    border-radius: 10px;
}

.modulo-asignatura-optativa p {
    color: var(--modulo-asignaturas-optativas-color);
}

.modulo-optativo {
    border: solid var(--modulo-optativo-color) 1px;
    background-color: var(--modulo-optativo-color-bg);
    border-radius: 10px;
}

.modulo-optativo p {
    color: var(--modulo-optativo-color);
}

.modulo-disciplina {
    border: solid var(--modulo-disciplina-color) 1px;
    background-color: var(--modulo-disciplina-color-bg);
    border-radius: 10px;
}

.modulo-disciplina p {
    color: var(--modulo-disciplina-color);
}

.modulo-pp-ss {
    border: solid var(--modulo-pp-ss-color) 1px;
    background-color: var(--modulo-pp-ss-color-bg);
    border-radius: 10px;
}

.modulo-pp-ss p {
    color: var(--modulo-pp-ss-color);
}

.modulo {
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 95%;
    min-width: 65%;
}


.modulo-header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 500;
}

.materiaInfo {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    border: 1px solid var(--line-borders);
    border-radius: 10px;
}

.usuarioInfo {
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    border: 1px solid var(--line-borders);
    border-radius: 10px;
}

.materia {
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-around;
}

.materia:hover {
    background-color: white;
}

.materia .clave-materia, .modulo-header .clave-materia {
    margin: auto 3rem;
    text-align: left;
    width: 1%;
}

.materia .nombre-materia{
    
    /* border: 1px solid red; */
    margin: auto 3rem;
    text-align: left;
    width: 25%;
}

.modulo-header .nombre-materia {
    
    margin: auto 3rem;
    text-align: left;
    width: 10%;
}

.materia .creditos-materia, .modulo-header .creditos-materia {
    margin: auto 3rem;
    text-align: left;
    width: 1%;
}

.materia .ht-materia, .modulo-header .ht-materia {
    margin: auto 3rem;
    text-align: left;
    width: 1%;
}

.materia .hp-materia, .modulo-header .hp-materia {
    margin: auto 3rem;
    text-align: left;
    width: 5%;
}

.materia .totalh-materia, .modulo-header .totalh-materia {
    margin: auto 3rem;
    text-align: left;
    width: 5%;
}

.materia .periodo-aprobada, .modulo-header .periodo-aprobada {
    margin: auto 3rem;
    text-align: center;
    width: 10%;
}


.materia .status-icon, .modulo-header .status-icon {
    margin: auto 3rem;
    text-align: right;
    width: 10%;
}

.bx-check {
    color: var(--light-text-color);
    background-color: var(--success-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .2rem;
}

.bx-time {
    color: var(--light-text-color);
    background-color: var(--warning-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .2rem;
}

.bx-x {
    color: var(--light-text-color);
    background-color: var(--danger-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .2rem;
}

.bx-minus-circle {
    color: var(--light-text-color);
    background-color: var(--disabled-color);
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: .2rem;
}



.save-btn {
    background-color: var(--bg-color);
    width: 150px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: .2rem .5rem;
    border-radius: 10px;
    font-size: 1.2rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin-left: auto;
    margin-right: 5rem;
}

.save-btn:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.save-btn a {
    color: var(--secondary-color);
}

.btn:hover {
    cursor: pointer;
}

.status-icon {
    color: var(--light-text-color);
    display: flex;
    align-items: center;
}

.options-icon {
    color: var(--light-text-color);
    display: flex;
    align-items: center;
}

.title-txt {
    font-size: 1.4rem;
    font-weight: bold;
    margin: auto;
}

.description-txt {
    font-size: 1.2rem;
}

.options-icon {
    color: var(--light-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.edit-btn:hover, .edit-btn .bx-edit-alt:hover{
    background-color: var(--primary-color);
    color: var(--light-text-color);
    
}

.edit-btn .bx-edit-alt {
    color: var(--primary-color);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.delete-btn:hover, .delete-btn .bx-trash-alt:hover {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
}

.delete-btn .bx-trash-alt {
    color: var(--secondary-color);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}